{% load static %}

<html>
    
    <head>
        <title>口コミ de 検索</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/search.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>
        <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

    </head>
    <body>

        <!-- .navbar -->
        <nav class="navbar" class="fixed">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" id="search" href="/">検索</a></li>
                <li class="navbar-item"><a class="navbar-link" id="mypage" href="{% url 'mypage' %}">マイページ</a></li>
                {% if user.is_authenticated %}
                <li class="navbar-item"><a class="navbar-link" id="log" href="{% url 'logout' %}">ログアウト</a></li>
                {% else %}
                <li class="navbar-item"><a class="navbar-link" id="log" href="{% url 'login' %}">ログイン</a></li>               
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <div class="navbar-log navbar-item">
                <div class="navbar-userid">{{ request.user }}<br>でログイン中</div>
            </div>
            {% endif %}
        </nav>
        <!-- /.navbar -->

        {% block content %}
        {% endblock %}

        <!-- .footer -->
        <footer class="footer">
            <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
                <img class="credit" src="https://api.gnavi.co.jp/api/img/credit/api_265_65.gif" width="265" height="65" border="0" alt="グルメ情報検索サイト　ぐるなび">
                </a>
            <div class="copyright">Copyright&copy; 2020 Nakagaki Yuto. </div>
        </footer>
        <!-- /.footer -->

    </body>
</html>