{% extends 'search/base.html' %}
{% load static %}

{% block content %}

<!-- .search-section -->
<div class="search-section section">
    <div class="search-form">
        <form action="{% url 'shops' %}" method="POST" name="search-form" onsubmit="return check()">
            {% csrf_token %}
            <div class="form-input" name="form-input">
                <label>エリア:</label>
                <input type="text" class="area" name="area" id="areaid" placeholder="例. 渋谷" required>
                <label>検索ワード: </label>
                <input type="text" class="kuchikomi" name="kuchikomi" id="kuchikomiid" placeholder="例. おすすめ" required>
            </div>
            <div>
                <button type="submit" class="btn btn-danger" name='action' value="save" onclick="this.innerHTML=searching()">検索する</button>
                <script>
                    var searching = function(){
                        if(document.getElementById("areaid").value && document.getElementById("kuchikomiid").value){
                            return "検索中";
                        }else{
                            return "検索する";
                        }
                    }
                </script>
                <p>※検索には時間がかかることがあります</p>
            </div>
            <div class="how-to">
                <a href="{% url 'how_to_use' %}" class="btn btn-link">「口コミ de お店検索」とは？</a>
            </div>
        </form>
    </div>
</div>
<!-- /.search-section -->

<!-- .shop-section -->
<div class="shop-section section">
    <div class="shop-title">
        <h4><strong>{{ area }}</strong> で <strong>{{ kuchikomi }}</strong> の口コミを含むお店一覧</h4>
    </div>
    {% if shop_cnt == 0 %}
    <div class="shop-message">店舗が見つかりませんでした。</div>
    {% else %}
    <div class="shop-message">{{ shop_cnt }}件見つかりました</div>
    {% endif %}

    {% for shop in shops %}
    <div class="shop-list">
        <img class="shop-photo" src="{{ shop.shop_image }}" alt="画像なし">
        <div class="shop-list-body">
            <div class="shop-name">
                {{ shop.shop_name }}
                {% if shop.is_favorite > 0 %}
                <a href="{% url 'favorite' shop.shop_id %}" class="favorite-btn">★</a>
                {% else %}
                <a href="{% url 'favorite' shop.shop_id %}" class="favorite-btn">☆</a>
                {% endif %}
            </div>
            <div class="shop-intro">カテゴリ:{{ shop.category_name_l }}　エリア:{{ shop.areaname_l }}</div>
            <div class="shop-comment">
                <div class="comment">{{ shop.comment }}</div>
                <div class="update-date">{{ shop.update_date }} に投稿</div>
            </div>
            <div class="shop-url">
                <a href="{{ shop.shop_url }}" target="_blank">詳細はこちら（ぐるなび店舗ページへ）</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.shop-section -->

{% endblock %}