/*全体*/
body {
  color: darkslategrey;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic";
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
  padding-top: 60px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.btn-danger {
  padding: 4px 12px;
}

.favorite-btn{
  padding-left: 7px;
  color: rgb(248, 74, 74);
}

/*navbar*/
.navbar {
  position: fixed;
  top: -10;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(255, 91, 91, 0.2);
  -moz-box-shadow: 0 3px 3px -3px rgba(241, 79, 79, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  background-color: rgb(248, 74, 74);
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0%;
}


.navbar-item {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 24px;
  letter-spacing: .05em;
}

.navbar-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.navbar-link:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-link:after {
  position: absolute;
  bottom: 10;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}

.navbar-display:after {
  position: absolute;
  bottom: 10;
  left: 50%;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
}

.navbar-link:hover:after {
  width: 100%;
}

.navbar-userid {
  font-size: 12px;
  font-weight: normal;
  color: #333;
  padding-right: 5px;
}

.navbar-log {
  float: right;
}

/* footer */
.footer {
  margin: 300px auto 50px;
  text-align: center;
}

.credit {
  margin-bottom:30px;
}

.copyright {
  font-size: 10px;
}


/*page-header*/
.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86vh;
    user-select: none;
    margin: 0;
    border-bottom: none;
  }
  
.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.logo-title {
  font-family: "Open sans", sans-serif;
  color: rgb(248, 74, 74);
  font-size: 54px;
  padding-bottom: 20px;
  line-height: 1;
  letter-spacing: .2em;
}

.logo-subtitle {
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: .2em;
}

.search-btn {
  margin-bottom: 30px;
}

/*search-section*/
.search-section {
  max-width: 1000px;
  text-align: center;
  margin : 100px auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-input {
  padding: 40px 10px;
}

.area {
  margin-right: 30px;
}

.how-to {
  padding-top: 40px;
  padding-left: 370px;
  font-size: 15px;
}

.search-section p {
  margin-top: 10px;
  font-size: 14px;
}

/*shop-section*/
.shop-section {
  margin: 30px 10px;
}

.shop-message, .shop-title {
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.shop-list {
  max-width: 1000px;
  text-align: center;
  margin : 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border: solid 2px rgb(209, 208, 208);
}

.shop-photo {
  width: 180px;
  height: 180px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 25px 0 #d9d9d9;
} 

.shop-list-body {
  flex: 1;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.shop-name {
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(transparent 80%, rgb(248, 74, 74) 20%);
}

.shop-comment {
  margin: 5px 0;
  padding: 7px;
  background-color: rgb(250, 241, 241);
  border: solid 2px rgb(248, 74, 74);
}

.shop-intro, .shop-url, .update-date {
  font-size: 13px;
}

.shop-url, .update-date {
  text-align: right;
}

/*favorite-shop-section*/
.favorite-shop-section {
  margin: 30px 10px;
}

.favorite-shop-message, .favorite-shop-title {
  max-width: 1000px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.favorite-shop-list {
  max-width: 1000px;
  text-align: center;
  margin : 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  border: solid 2px rgb(209, 208, 208);
}

.favorite-shop-photo {
  width: 180px;
  height: 180px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 25px 0 #d9d9d9;
} 

.favorite-shop-list-body {
  flex: 1;
  margin: 0 auto;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.favorite-shop-name {
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(transparent 80%, rgb(248, 74, 74) 20%);
}

.favorite-shop-pr {
  margin: 5px 0;
  padding: 7px;
  background-color: rgb(250, 241, 241);
  border: solid 2px rgb(248, 74, 74);
}

.favorite-shop-intro, .favorite-shop-url {
  font-size: 13px;
}

.favorite-shop-url {
  text-align: right;
}

/*how-to-section*/
.how-to-section {
  margin: 100px 15px;
}

.how-to-body {
  max-width: 1000px;
  text-align: left;
  margin : 100px auto 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.how-to-text > h4 {
  background: linear-gradient(transparent 80%, rgb(248, 74, 74) 20%);
}

.how-to-img {
  text-align: center;
}

.how-to-img img {
  width: 1000px;
}

/*maypage-section*/
.mypage-section {
  margin: 100px 15px;
}

.mypage-body {
  max-width: 1000px;
  text-align: left;
  margin : 100px auto 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mypage-text > h4 {
  background: linear-gradient(transparent 80%, rgb(248, 74, 74) 20%);
}

.mypage-buttons {
  margin: 50px auto;
  text-align: center;
}

.mypage-buttons .btn {
  width: 237px;
  margin: 60px;
}

/*アカウント登録回り*/
.signup-section, .login-section, .password-change-section, .password-change-done-section {
  margin: 100px 15px;
}

.signup-body, .login-body, .password-change-body, .password-change-done-body {
  max-width: 1000px;
  text-align: left;
  margin : 100px auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup-section h4, .login-section h4, .password-change-section h4 {
  background: linear-gradient(transparent 80%, rgb(248, 74, 74) 20%);
  margin-bottom: 40px;
}

.login-form .password-change-form {
  margin-bottom: 30px;
}

.signup-btn, .password-change-section button, .password-change-done-section a {
  margin-top: 30px;
}

.signup-section a, .login-section a {
  font-size: 16px;
  margin-bottom: 20px;
  width: 350px;
}